:root {
    --color-title: #22282b;
    --color-body-bg: #E5E5E5;
    --color-p: #adadad;
}

#overlay {
    display: none;
    flex-direction: column;
    position: fixed;
    color: #FFFFFF;
    justify-content: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 5px;
}