:root {
    --color-title: #2c2f30;
    --color-body-bg: #eeeeee;
    --color-p: #5e5e5e;
    --color-box: #f5f5f5;
    font-family: "Lato", sans-serif;
}

/* Global CSS */
body {
    background-color: var(--color-body-bg);
}

h1 {
    font-size: 24px;
    font-weight: 400;
    color: var(--color-title);
    letter-spacing: 2px;
}

h3 {
    font-size: 22px;
    font-weight: 700;
    color: var(--color-title);
    margin-bottom: 10px;
}

p {
    font-size: 14px;
    font-weight: 400;
    color: var(--color-p);
    margin-bottom: 10px;
}

/* overlay CSS */
#overlay {
    display: flex;
    background-color: rgba(17, 17, 17, 0.6);
    flex-direction: column;
    align-items: center;
    position: fixed;
    color: #FFFFFF;
    justify-content: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.hidden {
    visibility: hidden;
}

#employeeInfo {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    height: 550px;
    width: 500px;
    border: 2px solid rgb(133, 133, 133, 0.4);
    border-radius: 8px;
    background-color: var(--color-box);
    padding: 2rem 4rem;
        img {
            margin: 1rem auto;
        };
        h3 {
            font-size: 32px;
        };
        p {
            font-size: 16px;
        };
}

#employeeWrapper {
    display: flex;
    flex-direction: column;
    flex: 2;
    text-align: center;
    position: relative;
    background-color: var(--color-box);
    gap: 10px;
}

#extraInfo {
    display: flex;
    flex-direction: column;
    border-top: 1px solid rgb(133, 133, 133, 0.7);
    margin-top: 20px;
    padding-top: 30px;
    gap: 8px;
}

#close {
    position: absolute;
    left: 95%;
    top: 3%;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    color: var(--color-title);
    text-shadow: 0px 0px 4px rgba(0,0,0,0.6);
}

#arrowRight {
    cursor: pointer;
    height: 60px;
    left: 95%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    transition: transform 0.1s;
    width: 50px;
    z-index: 1;
    .arrow-top {
        transform: rotate(45deg);
        transform-origin: bottom right;
    };
    .arrow-bottom {
        transform: rotate(-45deg);
        transform-origin: top right;
    };
}

#arrowLeft {
    cursor: pointer;
    height: 60px;
    left: 10%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    transition: transform 0.1s;
    width: 50px;
    z-index: 1;
    .arrow-top {
        transform: rotate(45deg);
        transform-origin: bottom left;
        top: 48%;
    };
    .arrow-bottom {
        transform: rotate(-45deg);
        transform-origin: top left;
        top: 52%;
    };
}

.arrow-top, .arrow-bottom {
    background-color: var(--color-p);
    height: 4px;
    left: -5px;
    position: absolute;
    top: 50%;
    width: 50%;
}


#arrowRight:active, #arrowLeft:active {
    transform: translateX(-50%) translateY(-50%) scale(0.9);
}

/* Content CSS */
.wrapper {
    display: flex;
    flex-direction: column;
    margin: 0px 5%;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 52px 0px 12px 0px ;
}

input {
    max-width: 250px;
    flex: 1;
    height: 32px;
    border: 2px solid #d1d3d6;
    border-radius: 5px;
    outline: none;
    color: #909599;
    padding: 0 8px;
    margin: 0 20px 25px;
}

/* Section CSS */
section {
    display: grid;
    grid-gap: 25px;
    max-width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
    grid-auto-rows: 200px;
    justify-items: center;
}

.employee-box {
    display: flex;
    align-items: center;
    height: 180px;
    width: 420px;
    border: 2px solid rgb(133, 133, 133, 0.4);
    border-radius: 8px;
    background-color: var(--color-box);
    padding: 2rem;
}

.employee-box:hover {
    opacity: 0.4;
    cursor: pointer;
}

img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-right: 2rem;
}